body {
    /* Background pattern from subtlepatterns.com */
    background-image: url("/img/bg.png");
    background-attachment: fixed;
}

a.brand-logo i {
    font-size: 1.2em;
}

.middle-content-wrapper {
    margin-top: 25vh;
    text-align: center;
}

.btn, .btn-large {
    background-color: #2979ff;
}

.btn:hover, .btn-large:hover {
    background-color: #2962ff;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2962ff !important;
}
