{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/call.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="/js/call.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="connection-info">
        <div id="event-id">Event ID: <kbd>{{ event_id }}</kbd></div>
        <div id="event-role">Role: <kbd>{{ role }}</kbd></div>
    </div>

    <div id="language-wrapper" class="input-field">
        <select id="language">
            <option value="en">English</option>
            <option value="de">Deutsch</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="it">Italiano</option>
            <option value="zh">普通话 (中国大陆)</option>
        </select>
        {% if role == "host" %}
        <label>Speech Language</label>
        {% else %}
        <label>Subtitle Language</label>
        {% endif %}
    </div>

    <div class="row">
        <div class="col s12 l8">
            <div id="video-container">
                <video id="self-video"></video>
                <div id="subtitle-text"></div>
            </div>
        </div>
        <div class="col s12 l4 transcript-recorder-wrapper">
            <div class="card-panel white transcript-recorder">
                <h4 class="center-align"><u>Transcript</u></h4>
            </div>
        </div>
    </div>
{% endblock %}
