{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/call.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="/js/call.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <span class="event-msg" style="float:left">Event ID: <kbd>{{ event_id }}</kbd></span>
    <span class="event-msg" style="float:right">Role: <kbd>{{ role }}</kbd></span>

    {% if role == "watch" %}
    <div class="input-field">
        <select id="language">
            <option value="en-US">English</option>
            <option value="de-DE">Deutsch</option>
            <option value="es-ES">Español</option>
            <option value="fr-FR">Français</option>
            <option value="it-IT">Italiano</option>
            <option value="zh">普通话 (中国大陆)</option>
        </select>
        <label>Subtitle Language</label>
    </div>
    {% endif %}

    <div id="video-container">
        <video id="self-video"></video>
        <div id="subtitle-text"></div>
    </div>
{% endblock %}
