{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/host_landing.css">
    <script type="text/javascript" src="/js/host_landing.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="middle-content-wrapper">
        <h2>Enter an Event ID:</h2>
        <form id="host_form" method="GET">
            <div class="input-field">
                <input name="event_id" id="event_id" type="text" class="validate">
            </div>
        </form>
    </div>
{% endblock %}
